<?xml version="1.0"?>

<model>
  <name>Camera</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Tobias Damm-Henrichsen</name>
    <email>tobiasdammhenrichsen@gmail.com</email>
  </author>

  <description>
    Camera and associated ROS plugin with a box for visualization.
  </description>
</model>
