<?xml version="1.0"?>
<model>
  <name>UAV test vehicle</name>
  <version>1.0</version>
  <sdf version="1.5">uav_test_vehicle.sdf</sdf>

  <author>
   <name>Tobias Damm-Henrichsen</name>
   <email>tobiasdammhenrichsen@gmail.com</email>
  </author>

  <description>
    This is a custom SITL model created based of the 3DR Solo created by Igor Napolskikh and Rosalie Kitts (igor@3drobotics.com).
    The integration was created following the process described here: https://discuss.px4.io/t/create-custom-model-for-sitl/6700/3
  </description>
</model>
